.busca {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.agregar {
  font-size: 25px;
  border-radius: 5px;
}

.boton {
  padding: 10px;
  margin-right: 35px;
  color: black;
  background-color: rgb(107, 212, 107);
  border: black;
  border-radius: 7px;
  font-weight: bold;

  cursor: pointer;
}
